label.heading {
	padding-top: 10px;
	padding-bottom: 10px;
}		

.panel {
	margin-bottom: -18px;
}

.jumbotron {
	padding-top:20px;
}

.submit {
	margin-top: 5px;
	margin-bottom: 5px;
}

.table {
	margin-bottom: 0px;
}

p.remarks {
	font-size: 16px;
}

.img-thumbnail {
	width: 100px;
	height: 100px;
}

div.back {
	margin-top: 50px;
	margin-bottom: -40px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
