.fa-white {
	color: #FFFFFF;
}

.error {
	color: red;
	font-size: 80%;
}

body {
	padding-top: 100px;
}

.search-area {
	margin-top: 0px;
}

.input-area {
	margin-top: 0px;
	margin-bottom: 0px;
}

.input_form {
	margin-top: 12.5px;
	margin-bottom: 12.5px;
}

.navbar-brand {
	padding-bottom: 0px;
}

.scrollable-menu {
	height: auto;
	max-height: 500px;
	overflow-x: hidden;
}
